# Dependencies
node_modules/

# Build output
dist/

# Test reports
playwright-report/
test-results/
allure-results/
allure-report/

# Ignore everything inside logs
logs/*

# Environment files

# OS files
.DS_Store